body {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    color: #999999;
}

#main {
    width: 100%;
    margin: 0 auto;
}

header {
    margin-top: 2em;
    background-color: #ffffff;
    box-shadow: 0.434em 0.44em 0.313em rgba(0, 0, 0, 0.10);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", sans-serif;
    font-style: italic;
    color: #999999;
}

.inner-container {
    width: 80%;
    height: inherit;
    margin: 0 auto;
}

.master-head {
    height: 70%;
    font-size: 1.25em;
}

    .master-head img,
    .master-head .society-name{
        display: inline-block;
    }

    .master-head img {
        height: 100%;
        width: 10%;
    }

    .master-head .society-name {
        position: relative;
        padding-left: 0.75em;
        top: 0.45em;
    }

    .master-head .society-name p {
        margin: 0;
    }

    .master-head .society-name p:nth-child(2) {
        margin-top: 0.35em;
    }

nav {
    height: 30%;
    margin: 0 auto;
    padding: 1.5em 0 1.5em 0;
    text-align: right;
}

    nav a {
        padding-right: 3em;
        font-size: 1.313em;
        text-decoration: none;
        color: #999999;
    }

    nav a:hover {
        color: #006A3F;
        text-decoration: none;
    }

    nav a.selected {
        color: #006A3F;
    }

#banner {
    background-image: url('../assets/img/msu-campus.jpg');
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image-banner {
    height: 40em;
}

#mission-vision {
    height: 60%;
    vertical-align: bottom;
    padding: 3em 0 3em 0;
    background-color: rgba(0, 106, 63, 0.75);
    color: #fff;
}

    #mission-vision h2 {
        color: #fff;
    }

#shpe-highlights {
    background-color: #909AB7;
    color: #fff;
}

    #shpe-highlights h2{
        color: #fff;
    }

.announcements {
    height: 50em;
    width: 90%;
    margin: 0 auto;
    padding: 3em 0 3em 0;
}

 .announcement {
     height: 20em;
     background-color: #006A3F;
 }