@charset "utf-8";

footer {
    background-color: #909AB7;
}

#link-text {
	background-color: #909AB7;
	color: #ffffff;
	padding: 1.5em;
	height: 8em;
	padding-bottom: 0;
	clear: both;
    font-family: Tahoma, sans-serif;
    font-style: normal;
}

    #link-text a {
        display: block;
        color: #ffffff;
        padding-bottom: 1.5em;
    }

#column-1 {
	float: left;
}

#column-2 {
	float: right;
}

#social-media {
	background-color: #909AB7;
	height: 5em;
	padding: 1.5em;
}

    #social-media img {
        width: 5%;
        float: right;
        padding: 0.25em;
    }

#authors {
    font-family: "Palatino Linotype", sans-serif;
    font-style: italic;
	background-color: #909AB7;
	color: #ffffff;
	text-align: center;
	padding-top: 0.001em;
	padding-bottom: 0.001em;
}

@media screen and (max-width: 400px) {
	#link-text {
		height: 20em;
	}
	
	#column-2 {
		float: left;
	}
	
	#social-media {
		height: 8em;
		clear: both;
	}
	
	#social-media img {
		float: left;
		width: 20%;
	}
	
	#authors {
		font-size: 9px;
	}
}



/*
.container {
	text-align: center;
	align-content:center;
	min-height:: 100%;
}

.Footer {
	color: #000000;
	margin: 0px auto;
}

.Instagram {
	padding: 15px;
    margin: auto;
	margin-top: 5em;
	float: right;
	right: 14%;
	position: absolute;
	z-index: 2;
	bottom: 0;
    width:  04%;
    background-position: 70% 70%;

}

.Facebook {
	padding: 15px;
	margin: auto;
	margin-top: 5em;
	float: right;
	right: 19%;
	position: absolute;
	z-index: 2;
	bottom: 0;
    width:  4%;
    background-position: 50% 50%;

}

#Links {
	background-color: #909AB7;
	color: #ffffff;
	margin: 17% auto; 
	padding: 30px;
	width: 100%;
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
	
}

.Copyright {
	color: #ffffff;
	background-color: #909AB7;
	text-align: center;
	width: 100%;
}

#Authors {
	text-align: left;
	width: 100%;
	position: absolute; bottom: 0;
	background-color: #909AB7;
}

#Column_1 {
	text-align: left;
	height: 8em;
	width: 26%;
	min-width: 100px;
	max-width: 1000px;
}


#Column_2 {
	text-align: right;
	height: 8em;
	width: 74%;
	min-width: 100px;
	max-width: 1000px;
}

*/